@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* General */
* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9; /* Fondo claro */
    color: #333; /* Texto oscuro */
}

/* Contenedor Principal */
.container {
    display: flex;
    height: 100vh; /* Altura completa de la pantalla */
}

/* Sidebar */
.sidebar {
    position: sticky;
    top: 0;
    width: 15%; /* Ancho ajustado */
    height: 100vh;
    background-color: #13151d; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    border-right: 2px solid #282c34; /* Borde más visible */
}

.sidebar h2 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sidebar ul {
    font-size: 0.8em;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar a {
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    color: white;
}

.sidebar a:hover {
    background-color: #282c34;
}

/* Contenido Principal */
.content {
    flex: 1;
    padding-top: 20px;
    overflow-y: auto;
}

h1 {
    color: #3f3f3f;
    text-transform: uppercase;
    margin-bottom: 1vh;
}

/* Tabla */
.centrarTabla {
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    position: relative;
    font-size: 14px;
}

th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}

td img {
    max-width: 50px;
    border-radius: 4px;
}

.resizable {
    position: relative;
    min-width: 150px;
}

.resizable .resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    cursor: ew-resize;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Botones */
.btn-eliminar, .btn-modificar {
    padding: 8px 12px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 1px;
}

.btn-eliminar {
    background-color: #ff3232;
}

.btn-modificar {
    background-color: #20232a;
}

.btn-modificar:hover {
    background-color: black;
}

.btn-eliminar:hover {
    background-color: #ff0000;
}

.btn-eliminar a, .btn-modificar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
