@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos generales para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    height: 8vh;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

.tituloHeader {
    margin-left: 2vw;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2vw;
}

.profile-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li {
    margin: 5px 0;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
}

.dropdown-menu ul li a:hover {
    color: #007bff;
}

.profile-container {
    display: flex;
    align-items: center;
    align-content: center;
    
}